#todo {
	width: 85%;
	position: relative;
    margin: 0 auto;	
}

#menuadministracion {
    position: absolute;
}

#formularios {
    float: left;
    width: 50%;
    margin-left: 25%;
}

input {
    padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
    padding: 3px 3px 3px 0;
  display: inline-block;
}

select {
    padding: 4px 17px;
    border: none;
    border-radius: 1px;
    background-color: #f1f1f1;
}

form {
    float: left;
    width: 40%;
    text-align: center;
    margin-top: 1%;
    margin-left: 2%;
}

input[name="Desconectar"]{
    float: right;
}

.etiqueta {
    float: left;
    width: 85px;
}

.campo {
    margin-left: 8%;
    
}

.opcion {
    margin-top: 10px;
    height: 35px;
}

#logout{
    float: left;
    clear: both;
    margin-top: 3%;
    margin-left: 5%;
}